* {
  box-sizing: border-box;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1, h2, h4{
  margin: 0;
}

.main-grid {
  display: grid;
  grid-template-columns: 40vw repeat(4, 15vw);
}

.grid-banner {
  grid-column-start: 1;
  grid-column-end: -1;
  margin: auto;
}

.grid-heading {
  margin: auto 0px;
}

.at-Left {
  grid-column-start: 1;
}

.indentedItem {
  padding-left: 20px;
}

.formRow {
  display: flex;
  justify-content: space-around;
  height: 3vh;
}

.formRow input {
  width: 40vw;
}